/* 
Dylan Camlis
Web 110 - 002
0710417
Assignment 7

Color pallet:
black
yellow
green
college green #00693c
red
blue
creamsicle orange hsl(35,100%,50%)
pink

1. border and padding for tables

2. background colors for classes


*/



/* 1. border and padding for tables */
table th {
    padding: 0 0 0 20px;
}

tr td {
    border: 1px solid black;
}

/* 2. background colors for classes and events */
.WebDev {
    background-color: yellow;
}

.Networking {
    background-color: rgb(98,128,0);
}

.Networking#Test {
    background-color: #00693c;
}

.Java {
    background-color: green;
}

.SCC {
    background-color: red;
}

.Data{
    background-color: red;
}

.Law {
    background-color: blue;
}

.Work {
    background-color: hsl(35, 100%, 50%);
}

.Social {
    background-color: lightblue;
}

#Doctors {
    background-color: pink;
}

/* 3. centering text */

th, td {
    text-align: center;
}
