/* 
Dylan Camlis
Web 110 - 002
0710417
Assignment 7

Color pallet:




*/

table th {
    padding: 0 0 0 20px;
}

tr td {
    border: 1px solid black;
}

.WebDev {
    background-color: yellow;
}

.Networking {
    background-color: rgb(98,128,0);
}

.Networking#Test {
    background-color: #00693c;
}

.Java {
    background-color: green;
}

.SCC {
    background-color: red;
}

.Data{
    background-color: red;
}

.Law {
    background-color: blue;
}

.Work {
    background-color: hsl(39,100%,50%);
}

#Doctors {
    background-color: pink;
}