/* 
Dylan Camlis
Web 110 - 002
0710417
Assignment 7

Color pallet:




*/

table th {
    padding: 0 0 0 20px;
}

tr td {
    border: 1px solid black;
}

.WebDev {
    background-color: yellow;
}

.networ


